@media only screen and (min-width: 768px) and (max-width: 992px) {
      .container::after {
          content: "";
          clear: both;
          display: table;
        }
    
    [class*="col-tl-"] {
      float: left;
      padding: 15px;
    }
    
    .col-tl-1 {width: 8.33%;}
    .col-tl-2 {width: 16.66%;}
    .col-tl-3 {width: 25%;}
    .col-tl-4 {width: 33.33%;}
    .col-tl-5 {width: 41.66%;}
    .col-tl-6 {width: 50%;}
    .col-tl-7 {width: 58.33%;}
    .col-tl-8 {width: 66.66%;}
    .col-tl-9 {width: 75%;}
    .col-tl-10 {width: 83.33%;}
    .col-tl-11 {width: 91.66%;}
    .col-tl-12 {width: 100%;}
    
.menu {
  background-color: #556270;
  height: 80px;
  padding-top: 35px;  
}

.menu:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  list-style: 0;
  visibility: hidden; 
}

.menu-list-left,
.menu-list-right {
 list-style: none;
}

.menu-list-left li,
.menu-list-right li {
  display: inline-block;
  font-size: 12px; 
}

.menu-list-left li a,
.menu-list-right li a {
  text-transform: uppercase;
  color:honeydew;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

.menu-list-left .list-left {
  float: left;
}

.list-right {
  float: right;
}

.banner {
  padding: 15px;
}

.banner-text h1 {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.gallery {
    background-color: rgb(226, 226, 226);
    color: rgb(83, 83, 83);  
}

.gallery::after {
    clear: both;
    content: "";
    display: block;
}

.gallery h2 {    
    padding: 0px;
}

div.picture img {
    display: block;
    max-width: 100%;
    height: auto;
}

.picture img:first-child {
    margin-bottom: 30px;
}

.picture img {
    transition: all 1s;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.picture img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.footer {
    background-color: rgb(219, 219, 219);
    color: rgb(83, 83, 83);
}

.footer::after {
    clear: both;
    content: "";
    display: block;
}

.footer a {
    text-decoration: none;
    color: rgb(0, 149, 255);
}

}